header{
    background-color: black;    /*Color de fonfo*/
    color: white;       /*Color del texto*/
    padding: 2em;       /* es el espacio interno */
}
h1{
    color: orange;
    font-family: Julee;
    font-size: 3em;
    margin: 0px;
    
}
h4{
    margin: 0px;
    
}
.Detalle,h2,p{
    font-size: 1.4em;
    line-height: 28px;
}
button{
    border-radius: 50px;
    font-size: 1.2em;
    height: 3em;
    width: 250px; 
    background: red;
}
button:hover{
    background-color: white;
}
li{
    display: inline-block;
    padding: 6px;
}
a{
    font-size: 1.3em;
    text-decoration: none;
}
nav{
    background-color: yellowgreen;
    padding: 5px; 
    text-align: right;
}